---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="card">
	<h2>
		{title}
	</h2>
</a>
<style lang="scss">
	.card {
		text-decoration: none;
		color: var(--foregroundColor);
	}
</style>
